{% extends "socialaccount/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="center-container">
    <div class="white-form center-container">
      <div class="center-container logoBox">
        <img src="{%static 'img/logoPurple.png' %}" width="150px">
      </div>
        <p class="form-white-btn-font title">{% trans "소셜 회원가입" %}</p>

        <p class="form-white-btn-font textContent">{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}{{provider_name}} 계정을 이용해
        {{site_name}}에 가입합니다.{% endblocktrans %}</p>

        <form class="signup center-container" style="font-size: 1.5rem;"  id="signup_form" method="post" action="{% url 'socialaccount_signup' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="form-white-btn form-submit-btn float-on-hover">{% trans "회원가입" %}</button>
        </form>
    </div>
</div>

{% endblock %}