.account-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10rem;
}

.account--greeting{
  display: flex;
  flex-direction: column;
}

.account--greeting p{
  font-size: 90px ;
}

.logoBox {
  margin-bottom: 3em;
}

.account--social a{
  margin-bottom: 1em;
}
/*
.account--social a,
#id_login,
#id_password,
button.primaryAction{
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 10px;
  width: 22em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}*/

.account--social a img {
  margin-right: 1rem;
}



.account--or{
  display: flex;
  flex-direction: row;
  margin: 1em 0;
  color: black !important;
}

.account--or hr{
  border: none;
  height: 1px;
  background-color: black;
}

.login.center-container {
  color: black;
}

.login.center-container input:first-child{
  margin-bottom: 1em;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  width: 22em;
  height: 2.5em;
}

button.primaryAction {
  font-size: 16px;
  padding-top: 0.5em;
  margin: 0.4em;
  background-color: rgba(219, 86, 231, 0.78);
  border: white;
  color: white;
}

.button.secondaryAction {
  color: rgba(0, 102, 255, 1);
}

/*
.info-btn{
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  width: 40%;
}*/
.info-updateBtn{
  position: absolute;
  margin-top: 100px;
  right: 100px;
}
.info-userImg{
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
}

.info-container{
  display: flex;
  flex-direction: row !important;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  padding: 4rem !important;
}

.info-container>div{
  justify-content: space-between;
  margin: 20px 40px;
  border-bottom: 1px solid #E1D2FA;
}

.updateInfo-container{
  margin: 0 auto;
  padding: 4rem;
}
.updateInfo-container>div, .updateInfo-container>form>div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 40px;
  border-bottom:1px solid #E1D2FA;
}
.updateInfo-btn{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.center-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.preview-img-div{
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  border-bottom: 0 !important;
}