.cert-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;
}

.cert-box {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

.cert-box > h1 {
  text-align: center;
}

.cert-registerForm {
  display: flex;
  flex-direction: column;
}
.cert-music {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cert-music-input {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.musicListList {
  font-size: 1.4rem;
}

#id_music,
#id_artist {
  background-color: #fafafa;
  width: 100% !important;
}


.sns-all>a{
  margin-right: 3rem;
}

.example{
  position: absolute;
  margin-left: 115rem;
}

.exmapleCard{
  margin-top: 7rem;
  width: 346px;
  height: 406px;
  padding: 0.01rem;
}