.feed-result{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
.feed-result>p{
  font-size: 2rem;
}
.feedNtag-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3.5rem 15rem;
}

.feed-list{
  width: 70% !important;
  font-family: Roboto !important;
  /*margin-right: 5rem;*/
}


.feed-addContainer{
  display: flex;
  flex-direction: column;
  margin: 1rem 5rem;
}

.feed-add{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.feed-add>img{
  height: 6rem;
  width: 6rem;
  margin-right: 1rem;
}
.feed-add>input{
  border: 0.1rem solid black;
  border-radius: 1rem;
  background-color: transparent;
  width: 90%;
  height: 60%;
  padding-left: 1rem;
}

.feed-add>input::placeholder{
  font-size: 1.4rem;
}

.feed-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:  100%;
  margin-bottom: 3rem;
}

.feed--userInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.feed--userImg{
  border: 0.1rem solid white;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
}

.feed--userName{
  font-size: 25px;
  text-align: center;
}

.feed--content{
  justify-content: space-between !important;
  border: 0.1rem solid black !important;
  margin-left: 2rem;
  width: 100% !important;
  padding: 2rem !important;
}

.feed--content-my{
  justify-content: space-between !important;
  border: 0.1rem solid black !important;
  margin-right: 2rem;
  width: 100% !important;
  padding: 2rem !important;
}

.feed--content-top, .feed--content-bottom{
  display: flex;
  flex-direction: row;
}

.feed--content-top{
  justify-content: space-between;
}

.feed--content-bottom{
  justify-content: end;
}
.feed--content-right{
  display: flex;
  flex-direction: column;
}


.feed-filterBtn{
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.feed-my, .feed-like, .feed-heart{
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(68, 15, 218, 0.8);
  border: 0.1rem solid rgba(68, 15, 218, 0.8);
  margin:0 0.5rem;
  font-size: 1.6rem;
  color: #fff;
}

.feed-heart{
  background: transparent;
  color: black;
  padding: 0.5rem 1rem;
}
.feed-heart>span{
  font-family: 'Roboto';
}


.feed-title{
  font-size: 20px;
  font-weight: bold;
}


.feed-content{
  font-size: 30px;
  font-weight: bold;
}



.feed-hashtagList{
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.feed-hashtagList>.hashtag--btn{
  font-size: 1.4rem;
  justify-content: end !important;
}


.tag-list{
  background-color: #fafafa;
  justify-content: start !important;
  display: block !important;
  opacity: 0.5;
}
.tag-list>h1{
  color: black
}
.tag-list>ul{
  font-size: 2rem;
  color: black;
}


.empty-feed>p{
  font-size: 2rem;
  text-align: center;
}

.feed-twobtn{
  display: flex;
  flex-direction:row;
  justify-content: end;
  font-size: 1.4rem;

}

.feed-twobtn>a{
  margin-left: 1rem;
}

.feedNtag-container a{
  color: black !important;
}