{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="center-container">
  <div class="center-container white-form">
    <div class="center-container logoBox">
      <img src="{%static 'img/logoPurple.png' %}" width="150px">
    </div>
    <p class="form-white-btn-font title">{% trans "로그아웃" %}</p>

    <p class="form-white-btn-font textContent">{% trans '정말 로그아웃하실 건가요?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="form-white-btn form-submit-btn btn-white" type="submit">{% trans '로그아웃' %}</button>
      <button class="form-white-btn form-submit-btn" href="/">{% trans '메인으로 돌아가기' %}</button>
    </form>
  </div>
</div>

{% endblock %}