{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    

    <div class="center-container">
        <div class="white-form center-container">
            <div class="center-container logoBox">
                <img src="{%static 'img/logoPurple.png' %}" width="150px">
            </div>
            <p class="form-white-btn-font title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "비밀번호 변경" %}{% endif %}</ㅔ>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="form-white-btn-font textContent">{% blocktrans %}링크가 적합하지 않습니다. <br><br>이미 사용된 링크일 가능성이 있습니다. <br>새로운 <a style="color: blue;" href="{{ passwd_reset_url }}">초기화 링크</a>를 발급받아주세요.{% endblocktrans %}</p>
            {% else %}
                <form method="POST" class="center-container" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="form-white-btn form-submit-btn float-on-hover" type="submit" name="action" value="{% trans '비밀번호 변경' %}"/>
                </form>
            {% endif %}
        </div>
    </div>
    
{% endblock %}