{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="center-container">
    <div class="white-form center-container">
        <div class="center-container logoBox">
            <img src="{%static 'img/logoPurple.png' %}" width="150px">
        </div>
    
        <p class="form-white-btn-font title">{% trans "비밀번호 초기화" %}</p>
        
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p class="form-white-btn-font textContent">{% blocktrans %}초기화 이메일을 보냈습니다! <br> 수신하지 못했다면 스팸함을 확인해주세요.{% endblocktrans %}</p>
    </div>
</div>
    {% endblock %}