{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="center-container">
    <div class="account-form white-form center-container">
        <div class="center-container logoBox">
            <img src="{%static 'img/logoPurple.png' %}" width="150px">
        </div>
        <p class="form-white-btn-font title">{% trans "비밀번호 변경" %}</p>

        <form method="POST" class="center-container" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="form-white-btn form-submit-btn" name="action">{% trans "비밀번호 변경" %}</button>
            <a class="form-white-btn-font textContent" href="{% url 'account_reset_password' %}">{% trans "비밀번호를 잊으셨나요?" %}</a>
        </form>
    </div>
</div>
{% endblock %}