{% extends "base.html" %}

{% block title %}{{music.title}}{% endblock %}

{% block content %}

<div class="cert-left">
	<div class=album-img>
		{% if music.albumCoverUrl %}
		<img src="{{music.albumCoverUrl.url}}" height="220" width="200">
		{% else %}
		<img src="https://picsum.photos/seed/{{music.id}}/200/220?">
		{% endif %}
	</div>
	<h4>가수 {{music.artist}}</h4>
	<h4>앨범 {{music.albumTitle}}</h4>
	<h4>{{certification.createdDate | date:'Y.m.d'}}부터 좋아했음</h4>
</div>

<div class="cert-right">
	<h1>{{music.title}}</h1>
	<div>{{music.lyric}}</div>
</div>

{% endblock %}