.account-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
}

.account--greeting{
  display: flex;
  flex-direction: column;
}

.account--greeting p{
  font-size: 90px ;
}

.account-form{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px;
  padding: 40px;
  width: 50%;
  justify-content: center;
}
.account--social{
  display: flex;
  flex-direction: column;
}

.account--social a{
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  text-align: center;
}
.account--or{
  display: flex;
  flex-direction: row;
  margin: 80px 0;
}

.account--or hr{
  border: none;
  height: 1px;
  background-color: white;
}


.info-top{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 50px;
  width: 40%;
}
.info-updateBtn, .updateSubmit-btn{
  background-color: var(--btn-bg);
  border: var(--btn-b);
  border-radius: var(--btn-br);
  font-size: var(--btn-fs);
  padding: var(--btn-p);
}
.info-userImg, .preview-img{
  margin-left: 4rem;
  width: 20rem;
  height: 20rem;
  border: var(--img-b);
  border-radius: var(--img-br);
}
.preview-img{
  margin: 0 auto !important;
}

.info-container, .updateInfo-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;

  width: var(--form-w);
  border: var(--form-b);
  border-radius: var(--form-br);
  font-size: var(--form-fs);
  padding: var(--form-p)
}

.info-container>div, .updateInfo-container>form>div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--form-inner-m);
  border-bottom: var(--form-inner-line);
}


.updateInfo-password, .preview-img-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: none !important;
}

.preview-img-div{
  justify-content: center !important;
}

.updateInfo-img{
  display: flex;
  flex-direction: row;
}
.image-container{
  text-align: center;
}

.updateInfo-nickName>div>input{
  background: var(--form-inner-input-bg);
  border: var(--form-inner-input-b);
  border-radius: 1rem;
  width: 100%;
}
