.account-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5vh;
}

.account--greeting{
  display: flex;
  flex-direction: column;
}

.account--greeting p{
  font-size: 5vw;
}

.logoBox {
  margin-bottom: 3em;
}

.account--social a{
  margin-bottom: 1em;
}

.account--social a img {
  margin-right: 1rem;
}


.account--or{
  display: flex;
  flex-direction: row;
  margin: 1em 0;
  color: black;
}

.account--or hr{
  border: none;
  height: 1px;
  background-color: black;
}

.login.center-container {
  color: black;
}

.login.center-container input:first-child{
  margin-bottom: 1em;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  width: 22em;
  height: 2.5em;
}

button.primaryAction {
  font-size: 16px;
  padding-top: 1.2rem;
  margin: 0.4em;
  background-color: rgba(219, 86, 231, 0.78);
  border: white;
  color: white;
}

.button.secondaryAction {
  color: rgba(0, 102, 255, 1);
}

/*
.info-btn{
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  width: 40%;
}*/

.info-userImg{
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 auto;
}

.info-container{
  display: flex;
  flex-direction: row !important;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  padding: 4rem !important;
}

.info-container>div{
  justify-content: space-between;
  margin: 20px 40px;
}

.updateInfo-container{
  margin: 0 auto;
  padding: 4rem;
}

.updateInfo-container>div, .updateInfo-container>form>div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.preview-img-div{
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  border-bottom: 0 !important;
}

img.preview-img {
  width: 15rem !important;
  height: 15rem !important;
  border: 1px black solid !important;
}

a.socialaccount_provider {
  font-size:medium; 
  color: black;
  border: black 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 2rem;
}

.info-nickName {
  font-weight: bolder;
  font-size: larger;
  margin: 1.5vh 0;
  padding: 0 2rem;
  border-bottom: black 1px solid;
}

.index-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.index-container>.img-container {
  margin-bottom: 0.5rem;
  height: 3rem;
}

.image-container {
  margin-top: 1rem;
  margin-left: 15%;
}

.image-container a {
  color: blue;
}

.updateInfo-img #userImg-clear_id {
  appearance: auto !important;
  align-items: baseline;
}

.icon-edit {
  position: absolute;
  right: 5%;
  top: 5%;
}

.updateInfo-account {
  font-size: small;
  position: absolute;
  bottom: 2.5rem;
}

.updateInfo-account a {
  color: navy !important;
}

form.updateInfo p {
  font-size: 1.2rem !important;
  margin: 0.5rem 0;
}
form.updateInfo p span {
  font-size: 1.5rem;
  font-family: 'IM_Hyemin-Bold';
}