.feed-result{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
.feed-result>p{
  font-size: 2rem;
}
.feedNtag-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3.5rem 0;
}

.feed-list{
  width: 100% !important;
  max-height: none !important;
  /*border-right: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;*/
}

.feed-list.small{
  width: 70% !important;
}


.feed-addContainer{
  display: flex;
  flex-direction: column;
  margin: 1rem 5rem 5rem 5rem;
}

.feed-add{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
}

.feed-add>img{
  height: 8.5rem;
  width: 8.5rem;
  margin-right: 2rem;
}
.feed-add>input{
  border: 0.1rem solid black;
  border-radius: 1rem;
  background-color: transparent;
  width: 75%;
  height: 60%;
  padding-left: 1rem;
}

.feed-add>input::placeholder{
  font-size: 1.4rem;
}

.feed-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
  min-width: 40rem;
}

.feed--userInfo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  padding-top: 3rem;
}

.feed--userImg{
  border: 0.1rem solid white;
  border-radius: 50%;
  height: 8.5rem;
  width: 8.5rem;
}

.feed--userName{
  font-family: 'IM_Hyemin-Bold' !important;
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
}

.feed--content{
  justify-content: space-between !important;
  border: 0.1rem solid black !important;
  margin-left: 2rem;
  width: 100% !important;
  padding: 2rem !important;
  max-height: none !important;
}

.feed--content-my{
  justify-content: space-between !important;
  border: 0.1rem solid black !important;
  margin-right: 2rem;
  width: 100% !important;
  padding: 2rem !important;
  max-height: none !important;
}

.feed--content.white-form, .feed--content-my.white-form {
  max-width: 85%;
}

.feed--content-top, .feed--content-bottom{
  display: flex;
  flex-direction: row;
}

.feed--content-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feed--content-bottom{
  justify-content: start;
}


.feed-filterBtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feed-my, .feed-like, .feed-list-btn {
  padding: 0.5rem 5rem;
  border-radius: 1rem;
  background-color: rgba(68, 15, 218, 0.8);
  border: 0.1rem solid rgba(68, 15, 218, 0.8);
  margin: 0 0.5rem;
  font-size: 1.6rem;
  color: #fff;
}


.feed-heart{
  background: transparent;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 0;
  padding: 0;
  margin: 0.7rem 0 0 0;
  font-size: 2.3rem;
}
.feed-heart>div:last-child{
  margin-left: 1rem;
}


.feed-title{
  font-family: 'IM_Hyemin-Bold' !important;
  display: inline;
  font-size: 20px;
  font-weight: bold;
  border: 0.1rem solid #440FDA;
  border-radius: 1rem;
  padding: 0.8rem 1rem 0.8rem 1rem;
  margin-bottom: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 70%;
  white-space: nowrap;
}


.feed-content{
  font-size: 2rem;
  font-weight: 300;
  margin-top: 2rem;
}

.feed--content-left {
  max-width: 70%;
}

.feed--content-left>img{
  max-height: 15rem;
  max-width: 100%;
  margin-top: 1.5rem;
}

.feed--content-bottom {
  margin-top: 1.5rem;
}


.feed-hashtagList{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  flex-wrap: wrap;
}

.feed-hashtagList>.hashtag--btn{
  font-size: 1.4rem;
  margin-right: 0;

}

.feed-hashtagList>.hashtag--btn:first-child{
  margin-left: 0;
}



.tag-list.tagClose{
 animation: fade-out 1s;
 animation-fill-mode: forwards;

}
.tag-list{
  position: absolute;
  min-width: 10rem;
  top: 30rem;
  right: 14rem;
  border: 0.1rem solid white;
  background-color: transparent;
  border-radius: 1rem;
  padding: 5rem;
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}
.tag-list>ul{
  font-size: 2rem;
  color: black;
}


.empty-feed>p{
  font-size: 2rem;
  text-align: center;
}

.feed-twobtn{
  display: flex;
  flex-direction:row;
  justify-content: end;
  font-size: 1.4rem;

}


.tag-list-btn{
  z-index: 500;
  position: absolute;
  margin-left: 97rem;
  top: 25rem;
  background-color: #fafafa;
  color: black;
  font-size: 2rem;
  padding: 1rem 1rem 1rem 4rem;
  border-radius: 2rem;
}
.tag-list-btn.open{
  transform: rotate(0deg)
}


.tag-list-btn:hover{
  opacity: .5;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;

  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}



/*모달 관련 css*/
#feedForm{
  margin-top: 3rem;
}
#feedForm .form-group{
  display: flex;
  flex-direction: column;
}

#feedForm .searchDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#feedForm .searchDiv>div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#feedForm .searchDiv>div>button, .feedRegisterMusic, .saveFeedForm{
  margin-left: 5rem;
  font-size: 16px;
  background-color: rgba(219, 86, 231, 0.78);
  border: white;
  color: white !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 30rem;
  height: 4rem;
  line-height: 4rem;
}
.saveFeedForm{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
}


.form-control{
  border: none !important;
}

.post-form.feedForm2 #id_music, .post-form.feedForm2 #id_artist{
  border: 0.1rem solid black !important;
}
.feedNtag-container a{
  color: black !important;
}