.main-containter{
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px;
}

.main-scrollBtn{
  position: absolute;
  top: 80vh;
  right: 50vw;
  display: flex;
  justify-content: center;
  transform: rotate(90deg);

}

.main--text--container {
  display: flex;
  flex-direction: column;
}
.main--text--container h1 {
  font-size: 200px;
}
.main--text--container .description {
  width: 500px;
  margin-left: 40px;
}

.main--img {
  animation: up-down 1.4s infinite ease-in-out alternate;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-self: center;

  margin-top: 300px;
}

.search {
  border: 20px solid #ffffff;
  border-radius: 40px;
  width: 800px;
  background: transparent;
  padding: 10px;
}

.search-btn{
  background: transparent;
  border: 0;
}

body h1.title {
  color: white;
}



.hashtag-container{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  width: 800px;
}

.hashtag--btn{
  padding: 5px 10px;
  border-radius: 10px;
  background-color: lavender;
  border: 2px solid #fff;
  margin-left: 10px;
  font-size: 20px;
}

@keyframes up-down {
  from {
    transform: translatey(20px);
  }
  to {
    transform: translatey(-20px);
  }
}
