h1 {
  color: white;
}
.fa-plus {
  cursor: pointer;
}
body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #826bc2 14.58%,
    rgba(125, 8, 135, 0.78) 100%
  );
}
.mypage-container > h1 {
  font-size: 4rem;
  margin-top: 4rem;
}
.mypage-container > h1:first-child {
  margin-top: 0rem;
}
.certificate-list, .history-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  border: 0.1rem solid #fff;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  padding: 2rem;
  padding-left: 1rem;
}
.certificate-container{
  border: 3px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  position: relative;
  left: 0;
  transition: 0.3s ease-in-out;
}

.certificate {
  height: 40rem;
  width: 34rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  padding: 0 auto;

  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.certificate-list > a:first-child {
  margin-left: 0;
}

.hidden {
  display: none;
}

.music-container {
  position: absolute;
  width: 340px;
  margin: auto;
  margin-top: 100px;
  z-index: 50;
  padding: 0 20px;
  font-size: 20px;
  color: white;
}

.music-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.music-info .index {
  font-weight: bold;
}

.certificate-btn .certificate-leftBtn {
  z-index: 100;
  position: absolute;
  left: 10rem;
  margin-top: 150px;
  cursor: pointer;
  transform: scaleX(-1);
}

.certificate-btn .certificate-rightBtn {
  z-index: 100;
  position: absolute;
  right: 10rem;
  margin-top: 150px;
  cursor: pointer;
}

.year {
  font-size: 2rem;
  font-weight: bold;
}

.history-container {
  display: flex;
  flex-direction: column;
}
.history-container>h2{
  font-family: 'IM_Hyemin-Bold';
  font-size: 2rem;
}
.history {
  font-size: 2rem;
  padding-left: 5rem;
  padding-bottom: 1rem;
}
.plusCert:hover {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

a.plusCert {
  vertical-align: middle;
}

.exam-infobox {
  padding-right: 1.5rem !important;
}
.exam-snsbox {
  margin-top: 4.5rem;
}
.exam-snsall {
  width: 100% !important;
  display: flex !important;
  justify-content: space-evenly !important;
}

.exam-text h1 {
  margin-top: 2.5rem;
  text-align: center;

  font-size: 4rem;
  font-family: "Jua" !important;
}

.exam-guide h1 {
  font-size: 2.5rem;
  margin-left: 5rem;
  margin-top: 3rem;
}
