@import "./reset.css";

@import "./myPage.css";
@import "./base.css";
@import "./mainPage.css";
@import "./feed.css";
@import "./account.css";
@import "./certificate.css";
@import "./variables.css";
@import "./certDetail.css";


@font-face {
  font-family: 'IM_Hyemin-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: 'IM_Hyemin-Regular';
}

.boldfont {
  font-family: "Shrikhand", cursive;
}

html {
  font-size: 62.5%;
  height: 100%;
  position: relative;
}

body:not(footer) {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 17vw !important;
  margin-bottom: -20rem;
  overflow-x: hidden;
  color: white !important; /*임시*/
  background: linear-gradient(
    180deg,
    #361c82 14.58%,
    rgba(219, 86, 231, 0.78) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: white;
}
input:focus {
  outline: none !important;
}

footer {
  background-color: rgba(70, 70, 70, 0.329);
  height: 20rem;
}