{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- og 태그 -->
	<meta property="og:title" content="Yard | 야, 들어봐 너도!"/>
	<meta property="og:description" content="당신만 알고 있는 노래를 YARD에 담아 보세요!" />
	<meta property="og:image" content="{% static 'img/default.jpeg' %}" />

	<!-- favicon.ico 404 (Not Found) -->
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">

	<!--bootstrap-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<!--font-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
	<!--fontawesome cdn-->
	<script defer src="https://kit.fontawesome.com/34c2088d9a.js" crossorigin="anonymous"></script>
	<!-- My CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}?after">
	<title>Yard</title>
</head>

<body>

	<header class="nav">
		<div class="nav-logo"><a href="/"><img class="logobtn" src="{%static 'img/logo.png' %}"></a></div>
		{% if user.is_authenticated %}
		<div class="nav-btn">
			<a href="{% url 'user:myPage' %}">뮤직 카드</a>
			<a href="{% url 'user:myInfo' %}">내 정보</a>
			<a href="/accounts/logout">로그아웃</a>
		</div>
		{% else %}
		<div class="nav-btn">
			<a href="">뮤직 카드</a>
			<a href="/accounts/login">로그인</a>
		</div>
		{% endif %}
	</header>

	{% block content %} {% endblock %}
	{% block js %} {% endblock %}

</body>

</html>