{% extends 'searchBase.html' %}
{% load static %}
{% block content %}

<div class="certDetail-title boldfont"><a href="{% url 'user:myPage' %}"><img class="RE-mypage"
			src="{% static 'img/moreCertBtn.png' %}" alt="" style="transform: rotate(-180deg)"></a>My Certificate</div>

<div class="certDetail-container">
	<div class="certDetail-img">
		<div class="certDetail-img-front"><img src="{{ cert.albumImg.url }}" height="440" width="400"></div>
		<div class="certDetail-img-back"
			style='background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url({{ cert.albumImg.url }})'>
			<img class="cert-stamp" src="{%static 'img/note.png'%}" alt="">
		</div>
	</div>
	<div class="certDetail-info">
		<div class="music-info listen-box">
			<div class="listen-box">
				<span class="index boldfont listening">Listening</span>
				<br />
				<span class="boldfont listen-date">{{cert.createdDate | date:'Y.m.d'}} ~</span>
			</div>
		</div>
		<div class="music-info">
			<div class="index">곡</div>
			<div>{{cert.music}}</div>
		</div>
		<div class="music-info">
			<div class="index">아티스트</div>
			<div>{{cert.artist}}</div>
		</div>

		<div class="music-info sns-and-buttons">
			<div class="sns-all">
				<div class="sns-box"><a id="btnTwitter" class="link-icon twitter" href="javascript:shareTwitter();"><img
							src="{%static 'img/icon-twitter.png'%}" alt=""></a></div>
				<div class="sns-box"><a id="btnFacebook" class="link-icon facebook" href="javascript:shareFacebook();"><img
							src="{%static 'img/icon-facebook.png'%}" alt=""></a></div>
				<div class="sns-box"><a id="btnKakao" class="link-icon kakao" href="javascript:shareKakao();"><img
							src="{%static 'img/icon-kakao.png'%}" alt=""></a></div>
			</div>

			<div class="certDetail-buttons">
				<button><a href="{% url 'user:certUpdate' cert.id %}">수정</a></button>
				<button><a href="{% url 'user:certDelete' cert.id %}">삭제</a></button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/SNS.js' %}">

</script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script>
	const urlforKakao = window.location.href
		function shareKakao() {

// 사용할 앱의 JavaScript 키 설정
Kakao.init('1706f71509ba01819512832811f52204')

// 카카오링크 버튼 생성
Kakao.Link.createDefaultButton({
	container: '#btnKakao', // 카카오공유버튼ID
	objectType: 'feed',
	content: {
		title: "야드Yard", // 보여질 제목
		description: "Yard | 야, 들어봐 너도!", // 보여질 설명
		imageUrl:  urlforKakao, // 콘텐츠 URL
		link: {
			mobileWebUrl: urlforKakao,
			webUrl:  urlforKakao,
		}
	}
});
}
</script>

{% endblock %}