{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="cert-left">
	<div class=album-img>
		{% if cert.albumImg %}
		<img src="{{cert.albumImg.url}}" height="220" width="200">
		{% else %}
		<img src="https://picsum.photos/seed/{{cert.id}}/200/220?">
		{% endif %}
	</div>
</div>

<div class="cert-right">
	<h4>Listening {{cert.createdDate | date:'Y.m.d'}} ~</h4>
	<br>
	<h1>곡 {{cert.music}}</h1>
	<div>가수 {{cert.artist}}</div>

	<button><a href="{% url 'user:certUpdate' cert.id %}">수정</a></button>
	<button><a href="{% url 'user:certDelete' cert.id %}">삭제</a></button>
</div>


{% endblock %}