{% extends "base.html" %} {% block content %}
<div style="margin-top: 5rem;">
    <p class="text-center my_search_text">검색한 커뮤니티: <b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx-auto">
        <!-- {% if messages %}
        <section id="messages">
            <script type="text/javascript">
                alert('검색어는 2글자 이상 입력해주세요.');
            </script>      
        </section>
        {% endif %} -->
        {% for community in communities %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
            <div class="card text-center" style="min-width: 18rem">
                <div class="card-body">
                    <a href="{% url 'user:communityDetail' community.id%}"><h4>{{community.communityName}}</h4></a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text">
                해당 노래/가수의 커뮤니티가 아직없네요! 직접 커뮤니티를 생성해보세요!
                &nbsp<a href="{% url 'user:createCommunity' %}"><button
                        class="btn btn-secondary my-2 my-sm-0 center-block" type="submit"><i
                            class="fas fa-plus-square"></i></button></a>
            </p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}