{% extends 'base.html' %} {% block content %} 
{% comment %}
<div class="form-container">
  <div class="form">
    <h2 class="form-title">
      <span class="highlight">Create</span>New Community⭐️
    </h2>
    <hr />
    <form method="POST" class="post-form" enctype="multipart/form-data">
      {% csrf_token %} {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {% for field in form %} {% if field.errors %}
        <strong>{{ field.label }}</strong>
        {{ field.errors }} {% endif %} {% endfor %}
      </div>
      {% endif %}
      <div class="form-group">
        <label for="subject">음악</label>
        <input
          type="text"
          class="form-control"
          name="music"
          value="{{ form.music.value|default_if_none:'' }}"
        />
      </div>
      <div class="form-group">
        <label for="subject">가수</label>
        <input
          type="text"
          class="form-control"
          name="artist"
          value="{{ form.artist.value|default_if_none:'' }}"
        />
      </div>
      <div class="form-group">
        <label for="content">내용</label>
        <textarea class="form-control" name="content" id="content" rows="10">
{{ form.content.value|default_if_none:'' }}</textarea
        >
      </div>
      <button type="submit" class="save btn btn-primary">Save</button>
    </form>
  </div>
</div>
{% endcomment %}

<div class="form-container">
  <div class="form">
    <h2 class="form-title">
      <span class="highlight">Create</span>New Community⭐️
    </h2>
    <hr />
    <label for="songinfo">음악 검색</label>
    <input
      type="text"
      id="songinfo"
      class="whatToSearch"
      placeholder="검색"
      autocomplete="off"
      onkeyup="addMusicList()"
    />
    <a href="{% url 'user:musicSearch' %}"><button>검색</button></a>
    <form method="POST" class="post-form" enctype="multipart/form-data">
      {% csrf_token %}{% if form.errors %}
        <div class="alert alert-danger" role="alert">
          {% for field in form %} {% if field.errors %}
          <strong>{{ field.label }}</strong>
          {{ field.errors }} {% endif %} {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
          <label for="subject">음악</label>
          <input
            type="text"
            class="form-control"
            name="music"
            {% comment %} value="{{ form.music.value|default_if_none:'' }}" {% endcomment %}
            placeholder={{music}}
          />
        </div>
        <div class="form-group">
          <label for="subject">가수</label>
          <input
            type="text"
            class="form-control"
            name="artist"
            value="{{ form.artist.value|default_if_none:'' }}"
            placeholder={{artist}}
          />
        </div>
        <div class="form-group">
          <label for="content">내용</label>
          <textarea class="form-control" name="content" id="content" rows="10">
  {{ form.content.value|default_if_none:'' }}</textarea
          >
        </div>
      </form>
      <h1>{{music}}</h1>
      <button type="submit" class="save btn btn-primary">Save</button>
    </form>
  </div>
</div>


{% endblock %}
