{% extends "base.html" %} 
{% block content %} 
<div class="main-container">
    <div class="main--text--container">
        <h1 class="title">Yar:d</h1>
        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci qui omnis autem beatae dolore. Praesentium id blanditiis facilis voluptas cupiditate impedit ipsam tempore, molestias nobis. Labore laudantium maiores accusantium voluptate!</div>
    </div> 
    <img src="../static/img/note.png" class="main--img">
</div> 

    <div class="search-container">
        <form class="" action="{% url 'user:search' %}" method="get">
            {% csrf_token %}
            <input class="search" type="search" placeholder="가수 및 제목으로 커뮤니티를 검색해보세요!" aria-label="Search" name="q">
            <button class="" type="submit">찾기</button>
        </form>
        <div class="hashtag--container">
            
        </div>
    </div>
    
    
{% endblock %}
