{% extends "base.html" %} 
{% load static %}
{% block content %} 
<div class="main-containter">
    <div class="main-top" id ="main-top">Yar:d</div>
    <div class="feed-description">좋아하는 음악에 대해 이야기 나눠보세요</div>
    <div class="search-container" id = 'search-container'>
        
        <form class="" action="{% url 'user:search' %}" method="get">
            <img id = 'search-btn-main' src="{% static 'img/search.png'%}" alt="">
            <input class="search-input" type="search" placeholder="가수, 곡, #해시태그로 검색해보세요" aria-label="Search" name="q">
        </form>
        <div class="hashtag-container">
                {% for hashTag in hashTags %}
                    <div class="hashtag--btn"value={{hashTag}}>{{hashTag}}</div>
                {% endfor %}
        </div>
    </div>
    
</div>  
{% endblock %}

{% block js %}
<script src = "{% static 'js/mainPage.js' %}"></script>
{% endblock %}