<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <form action="methods">
        <label for="songinfo">음악 검색</label>
        <input type="text" id="songinfo" class="whatToSearch" placeholder="검색" autocomplete="off" onkeyup="addMusicList()">
        <button type="button" onclick="addMusicList()">검색</button>
    </form>

    <div class="musicListList">
    </div> 
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    $(document).ready(
            $('.musicList').empty()
        )

    function addMusicList() {
        let musicKeyWord = $('#songinfo').val()
        $('.musicList').empty()
        $.ajax({
            type: 'GET',
            url: 'http://ws.audioscrobbler.com/2.0/?method=track.search&track='+musicKeyWord+'&api_key=91921c9761d97539ea8147f4599b5f3e&format=json',
            success: function (response) {
                    let musicList = response["results"]["trackmatches"]["track"];
                    for (let i = 0; i < musicList.length; i++) {
                    let albumTitle = musicList[i]["name"]
                    let albumArtist = musicList[i]["artist"]
                    getMusicHtml(albumTitle, albumArtist)
                }
            }
        })
    }

    function getMusicHtml(title, artist) {
        let musicHtml = `<ul class="musicList">
            <li class="title">${title}</li>
            <li class="artist">${artist}</li>
        </ul>`
        $('.musicListList').append(musicHtml)
    }
</script>
</html>