{%extends 'base.html'%}
{%load static %}

{%block content%}

  <div class="info-btn">
    <img class="info-userImg" src="{{user.userImg.url}}"  width="100" height="100" alt="">
    <a href="{% url 'user:updateInfo' request.user.id %}" class="info-updateBtn">수정</a>
  </div>
  <div class="info-container">
    <div class="info-email">{{user.email}}</div>
    <div class="info-nickName">{{user.nickName}}</div>
    <div class="info-gender">{{user.gender}}</div>
    <div class="info-birth">{{user.birth}}</div>
  </div>
{%endblock%}