{%extends 'base.html'%}
{%load static %}
{% load i18n %}

{%block content%}
<div class="center-container">
    <div class="white-form center-container">
        <div class="center-container logoBox">
            <img src="{%static 'img/logoPurple.png' %}" width="150px">
        </div>
    
        <p class="form-white-btn-font textContent">아래 정보를 입력해주세요!</p>
        
        <div class="preview-img-div" id = 'preview-img-div'></div>
        <form class="infoRegister center-container" method="POST" action="{% url 'user:myInfoRegister' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="form-white-btn form-submit-btn" type="submit">{% trans "제출하기" %}</button>
        </form>
    </div>
</div>
{%endblock%}

{% block js %}
<script src = '{% static "js/updateInfo.js" %}'></script>
{% endblock %}