{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="">
  <h1>My Certificates</h1>
  <a href="{% url 'user:certificationRegister'%}">인증서 등록</a>
  <div class="certificate-list">
  {% for certificate in certificates %}
  {% if request.user == certificate.userId %}
  <a href="#">
    <div class="certificate-container">
      <div class="certificate" style="background-image:url({{ certificate.albumImg }})"></div>
      <div class="music-info-container hidden" id="musicInfo">
        <div class="music-info">
          <div class="index">곡</div><div>{{certificate.music}}</div>
        </div>
        <div class="music-info">
          <div class="index">앨범</div><div>{{certificate.musicId.albumTitle}}</div>
        </div> 
        <div class="music-info">
          <div class="index">아티스트</div><div>{{certificate.artist}}</div>
        </div>
        <div class="music-info">
          <div class="index">발급일</div><div>{{certificate.createdDate | date:"Y-m-d"}}</div>
        </div>
      </div>
    </div>
  </a>
    {% endif %}    
    {% endfor %}
    <img class="moreCertBtn" id = 'moreCertBtn' src="../static/img/moreCertBtn.png">
  </div>
  <h1>History</h1>
  
  <div class="history-container">
    {% for year in years%}
    <h2>{{year}}</h2>
    {% for his in history %}
    {% if request.user == his.userId %}
      {% if year == his.year %}
        <div class="history">{{his.createdDate | date:"Y-m-d"}}   |   {{his.musicId.title}}</div>
      {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
  
</main>

{% endblock %}

{% block js%}
<script src ="{% static 'js/myPage.js' %}"> </script>
{% endblock %}