{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="mypage-container">
  <h1>My Certificates <a class='plusCert'href="{% url 'user:certificationRegister'%}"><img  width = '60rem' height="60rem" src="{% static 'img/plus.png' %}" alt=""></a></h1>
  <div class="certificate-btn" id = 'certificate-btn'>
    <img class="certificate-leftBtn" id = 'certificate-leftBtn' src="{% static 'img/moreCertBtn.png' %}">
    <img class="certificate-rightBtn" id = 'certificate-rightBtn' src="{% static 'img/moreCertBtn.png' %}">  
  </div>
  
  <div class="certificate-list">
  {% for certificate in certificates %}
  {% if request.user == certificate.userId %}
  
  <a href="{% url 'user:certDetail' certificate.id %}">
    <div class="certificate-container"> 
      <div class="certificate" style="background-image:url({{ certificate.albumImg.url }})"></div>
      <div class="music-container hidden" id="musicInfo">
        <div class="music-info">
          <div class="index">곡</div><div>{{certificate.music}}</div>
        </div>
        <div class="music-info">
          <div class="index">아티스트</div><div>{{certificate.artist}}</div>
        </div>
        <div class="music-info">
          <div class="index">발급일</div><div>{{certificate.createdDate | date:"Y-m-d"}}</div>
        </div>
      </div>
    </div>
  </a>
    {% endif %}    
    {% endfor %}
    
  </div>
  <h1>History</h1>
  
  <div class="history-container">
    {% for year in years%}
    <h2>{{year}}</h2>
    {% for his in history %}
    {% if request.user == his.userId %}
      {% if year == his.year %}
        <div class="history">{{his.createdDate | date:"Y-m-d"}}   |   {{his.music}} - {{his.artist}}</div>
      {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
  
</main>

{% endblock %}

{% block js%}
<script src ="{% static 'js/myPage.js' %}"> </script>
{% endblock %}