{% extends 'searchBase.html' %}
{% load static %}
{%block content%}
<div class="updateInfo-container white-form" id = 'updateInfo-container'>
  <p style="margin-bottom: 3rem; font-family: 'IM_Hyemin-Bold';" class="form-white-btn-font textContent">내 정보 수정</p>
    <div class="preview-img-div" id = 'preview-img-div'></div>
    <form class="center-container updateInfo" method="POST" enctype="multipart/form-data" action="{% url 'user:updateInfo' %}">
      {% csrf_token %}
        <div class="updateInfo-img" id = "updateInfo-img">
          <div></div><div class="">{{form.userImg}}</div>
        </div>
        <p>
          <span>닉네임 :</span>
          {{form.nickName}}
        </p>
        <p><span>성별 : </span>{{form.gender}}&nbsp;|&nbsp;<span>생일 : </span>{{form.birth}}</p>
        <button class="updateInfo-btn form-white-btn form-submit-btn float-on-hover" type="submit">내 정보 수정</button>
    </form>
</div>
{% endblock %}

{% block js %}
<script src = '{% static "js/updateInfo.js" %}'></script>
{% endblock %}