{% extends 'searchBase.html' %}
{% load static %}
{%block content%}
<div class="updateInfo-container white-form" id = 'updateInfo-container'>
  <div class="preview-img-div" id = 'preview-img-div'></div>
  <form class="center-container" method="POST" enctype="multipart/form-data" action="{% url 'user:updateInfo' %}">
    {% csrf_token %}
      <div class="updateInfo-img" id = "updateInfo-img">
        <div></div><div class="">{{form.userImg}}</div>
      </div>
      <div class="updateInfo-contents center-container" style="flex-direction: column;">
        <div><span class="form-white-btn-font label">닉네임</span></div>
        <div>{{form.nickName}}</div>
      </div>
      <div>
        <div class="updateInfo-contents center-container" style="flex-direction: column;">
          <span class="form-white-btn-font label">성별</span>
          <div>{{form.gender}}</div>
        </div>
        <hr>
        <div class="updateInfo-contents center-container" style="flex-direction: column;">
          <span class="form-white-btn-font label">생년월일</span>
          <div>{{form.birth}}</div>
        </div>
      </div>

      <button class="updateInfo-btn form-white-btn form-submit-btn float-on-hover" type="submit">내 정보 수정</button>

  </form>
</div>
{% endblock %}

{% block js %}
<script src = '{% static "js/updateInfo.js" %}'></script>
{% endblock %}